* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  /* css reset vége */



  body{
    background-color: #f7e4d4;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  h1{
    text-align: center;
    position: relative;
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    font-size: 48px;
    color: #467745;
    margin-bottom: 20px;

  }

  form{
      display: grid;

  }

  .topic{
    display: grid;
    font-size: 16px;
    font-weight: medium;
    max-width: 480px;
    height: 64px;
    color: #467745;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 1px;
  
  }

  textarea{
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    font-size: 16px;
    max-width: 480px;
    height: 120px;
    color: #467745;
    background-color: #fff;
    
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }

  .checkbox{
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    font-size: 16px;
    color: #467745;
    display: inline-block;
    margin-bottom: 20px;
  }

  label{
      color: #467745;
  }

  label span{
      text-decoration: underline;
  }

  button{
    font-family: 'EB Garamond', serif;
    font-size: 21px;
    font-weight: normal;
    width: 180px;
    max-width: 280px;
    height: 80px;
    background-color: #467745;
    color: #f7e4d4;
    letter-spacing: 0.2em;
    border-radius: 50px;

    display: inline-block;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate3d(-50%, -50%, 0);
    text-transform: uppercase;
  }

  @media screen and (max-width:520px ){

    h1{
        font-size: 36px;
        text-align: left;
    }

    .topic{
        font-size: 16px;
        width: calc(100%-40px);
        margin-left: 20px;

    }

    textarea{
        font-size: 16px;
        margin-left: 20px;
    }

    button{
        font-size: 21px;
        display:block;
        margin-top:35px;
        width:100%;
    }



  }